{
    "device1": {
        "DEVICE_NAME": "Mikrotik-A",
        "DEVICE_IP": "192.168.22.1",
        "DEVICE_PORT": 5522,
        "DEVICE_USERNAME": "admin-backup",
        "DEVICE_SSHKEY": "~/.ssh/id_rsa",
        "DEVICE_ROS7": false,
        "SSH_OPTIONS": "-oPubkeyAcceptedAlgorithms=+ssh-rsa",
        "BASE_PATH": "./backups/Device-A",
        "EXPORT": true,
        "EXPORT_TERSE": true,
        "EXPORT_VERBOSE": true,
        "EXPORT_COMPACT": true,
        "BACKUP": true,
        "BACKUP_PASSWORD": "backuppassword"

    },
    "device2": {
        "DEVICE_NAME": "Another-Mikrotik-Device",
        "DEVICE_IP": "192.168.22.22",
        "DEVICE_PORT": 22,
        "DEVICE_USERNAME": "backup-user",
        "DEVICE_ROS7": true,
        "SSH_OPTIONS": "-oPubkeyAcceptedAlgorithms=+ssh-rsa",
        "DEVICE_SSHKEY": "~/.ssh/id_rsa",
        "BASE_PATH": "./backups/Device-B",
        "EXPORT": true,
        "EXPORT_TERSE": true,
        "EXPORT_VERBOSE": true,
        "EXPORT_COMPACT": true,
        "BACKUP": true,
        "BACKUP_PASSWORD": null
    }
}